<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Particular Software Rule Set" Description=" CodeAnalysis Rules for Particular Software Projects" ToolsVersion="14.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Particular.CodeRules" RuleNamespace="Particular.CodeRules">
    <Rule Id="PCR0001" Action="Error" />
  </Rules>
</RuleSet>